<?xml version="1.0"?>
<configuration>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="true" >
    </modules>
    <staticContent>
      <mimeMap fileExtension=".vtt" mimeType="font/ttf" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogv" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".m4a" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>
</configuration>
